* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}

figure {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}
figure img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

main {
    backdrop-filter: blur(8px);
    transform: scale(0.8);
    opacity: 0;
    transition: transform 0.6s ease, opacity 0.6s ease;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid;
    border-bottom: 1px solid;
    justify-content: center;
    padding: 10px 0;
}
main.visible {
    transform: scale(1);
    opacity: 1;
}
main>p {
    font-weight: 600;
    font-style: italic;
}

h1 {
    font-size: 1.8rem;
    text-transform: capitalize;
    color: white;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    border: 2px solid red;
    padding: 15px;
    gap: 10px;
    align-items: center;
    border-radius: 10px;
}
form button, select, input {
    padding: 5px;
}
form button {
    cursor: pointer;
    font-weight: bold;
    text-transform: capitalize;
}
form button img {
    width: 20px;
    height: 20px;
    object-fit: cover;
}
.btn-switch {
    font-size: 2rem;
    cursor: pointer;
    transition: transform 0.3s ease;
    border: none;
    border-radius: 50%;
    padding: 10px;
    border: 1px solid #ccc;
}
.btn-switch:hover {
    background-color: #ccc;
}
.btn-switch.animate {
    transform: rotate(180deg);
}
.switch-icon {
    display: inline-block;
    transition: transform 0.3s ease;
}

.zone1, .zone2 {
    display: flex;
    flex-direction: column;
    gap: 5px;
    transition: transform 0.4s ease, opacity 0.4s ease;
}

/* Animation pendant l'échange */
.zone1.animate {
    transform: translateX(100px) rotate(5deg);
    opacity: 0.5;
}

.zone2.animate {
    transform: translateX(-100px) rotate(-5deg);
    opacity: 0.5;
}

.switch-icon.animate {
    transform: rotate(180deg);
}

@media (min-width: 520px) {
    h1 {
        font-size: 2rem;
    }
    .zone1, .zone2 {
        display: inline-block;
        transition: transform 0.4s ease, opacity 0.4s ease;
    }
    form {
        display: flex;
        flex-direction: column;
        margin: 20px 0;
        border: 2px solid red;
        padding: 20px;
        gap: 10px;
        align-items: center;
        border-radius: 10px;
    }
}